$font-size-base: 1.2rem;
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/utilities";

.app {
  background: green;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
}
